<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/navbar.css">
</head>
<body>
    <nav class="container">
        <div class="link">
            <a href="/">UsersCars</a>
        </div>
        <div class="link">
            <a href="/add-users">Añadir Usuarios</a>
        </div>
        <div class="link">
            <a href="/list-users">Listar Usuarios</a>
        </div>
        <div class="link">
            <a href="/add-cars">Añadir coches</a>
        </div>
        <div class="link">
            <a href="/list-cars">Listar coches</a>
        </div>
    </nav>
</body>
</html>