<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
    <link rel="stylesheet" href="/stylesheets/add.css">
</head>
<body>
    {{> navbar}}
    <div class="container-form">
        <form action="/add-users-form" method="POST" class="form">
            <h1>Añadir usuario</h1>
            <input type="text" name="name" placeholder="Name">
            <input type="text" name="second_name" placeholder="Second name">
            <input type="text" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <button type="submit">Enviar</button>
        </form>
    </div>
</body>
</html>