<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Cars</title>
    <link rel="stylesheet" href="/stylesheets/add.css">
</head>
<body>
    {{> navbar}}
    <div class="container-form">
        <form action="/add-cars-form" method="POST" class="form">
            <h1>Añadir coche</h1>
            <input type="text" name="name" placeholder="Name">
            <input type="text" name="model" placeholder="Model">
            <input type="text" name="image" placeholder="Url image">
            <button type="submit">Enviar</button>
        </form>
    </div>
</body>
</html>