* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.container {
    display: flex;
    justify-content: left;
    margin: auto;
    padding: 2%;
    background-color: rgb(27, 27, 27);
    margin-bottom: 3%;
}

.link a{
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-inline: 1%;
}